@import '../../MediaQueries.scss';

.contactLink{

    &__container {
        display: flex;
        color: rgb(43, 43, 43);
        text-decoration: none;
    }

    &__header {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow-x: hidden;
        border-bottom: 1px solid #F5B6CD;
    }

    &__title {
        font-size: 16px;
        margin-left: 5px;

        @include mobile2 {
            font-size: 18px;
        }
    }



    &__iconContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__button {
        border: 2px solid #F5B6CD;
        padding: 4px 15px 6px 15px;
        font-size: 13px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        color: #F5B6CD;
        text-decoration: none;
        position: relative;
    }
}
