@import '../MediaQueries.scss';
@import '../../color.scss';

.projects {

    &__section {

        margin: 0;
        padding-top: 80px;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        z-index: 10;
        position: relative;
        padding-bottom: 40px;
        box-sizing: border-box;
        scroll-snap-align: start;

        /*   @media screen and (max-width: 767px) {
            padding-bottom: 150px;
        } */

        @include smallScreensMaxHeight720 {
            padding-bottom: 150px;
        }
    }



    &__container {

        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;


        @include mobile {
            width: 80%;
        }

        @include tablet {
            width: 90%;
        }

        @include xxlarge {
            padding-top: 70px;
        }
    }

    &__h2 {
        display: flex;
        width: fit-content;
        justify-content: end;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        line-height: .9;
        text-align: end;
        margin-bottom: 20px;

        //background-color: red;

        @include tablet {
            font-size: 75px;
        }
    }

    &__carouselContainer {
        //background-color: chartreuse;
        //height: 40vh;
        margin: 3rem 0;

        @include smallScreensMaxHeight720 {
            margin: 1rem 0;
        }

        @include tablet {
            margin: 1rem 0;
        }

    }



    &__visorProjects {
        position: absolute;
        bottom: 0;
        right: 0;
        justify-content: flex-end;
        width: 50vw;
        height: 60%;
        overflow: hidden;
        display: none;

        @include large {
            display: block;
        }
    }

    // Exit state used when navigating from Projects to a ProjectDetail
    &__section.projects--exit-right {
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.45s ease-in-out, opacity 0.35s ease-in-out;
    }

    &__section.projects--exit-left {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.45s ease-in-out, opacity 0.35s ease-in-out;
    }
}