@import '../MediaQueries.scss';
@import '../../color.scss';

.projects {

    &__section {
        margin: 0;
        padding-top: 100px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: start;
        z-index: 10;
        position: relative;
        padding-bottom: 100px;
        box-sizing: border-box;
        scroll-snap-align: start;
    }

    &__container {

        width: 90%;
        height: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;

        @include mobile {
            width: 80%;
        }
        @include tablet {
            width: 90%;
        }
    }

    &__h2 {
        display: flex;
        width: fit-content;
        justify-content: end;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        line-height: .9;
        text-align: end;
        margin-bottom: 20px;

        @include tablet {
            font-size: 75px;
        }
    }

    &__carouselContainer{
       // background-color: chartreuse;
        //height: 40vh;
        margin: 3rem 0 ;

    }



    &__visorProjects {
        position: absolute;
        bottom: 0;
        right: 0;
        justify-content: flex-end;
        width: 50vw;
        height: 60%;
        overflow: hidden;
        display: none;

        @include large {
            display: block;
        }
    }
}
