.main {
    
    &__container {
        width: 100vw;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}




