@import '../MediaQueries.scss';

.main {
    &__container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @include tablet {
            overflow: visible;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}




