@import '../../../color.scss';
@import '../../MediaQueries.scss';


.carousel {
    width: 100%;
    min-height: 60vh;
    position: relative;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__viewport {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__card {

        &--preview {
            display: none;


            @include tablet {
                display: block;
                filter: blur(0.8px);
                opacity: 0.8;
            }
        }

        &--center {
            position: absolute;
            justify-self: anchor-center;

            @include tablet {
                transform: scale(1.6);
                z-index: 10;
            }
        }
    }

    &__nav {
        position: absolute;
       // background-color: violet;
       // width: 100%;
        width: 800px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include large{
            //max-width: 700px;
        }


    }

    /* &__center {

        //height: 1000px;

        display: flex;
        align-items: center;

        @include tablet {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 750px;

            //min-width: 700px;
        }
    } */

   //position: absolute;



/*     &__previews {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 100% ;
        }
    }

    &__preview {
        transform: scale(.6);
        opacity: 0.5;
    }

    &__card--preview {
       max-width: 600px;
    } */
}
