@import '../../../color.scss';

.view-cv-button{

	&__container{
		margin-top: 15px;
		align-self: end;
		display: flex;
		position: relative;
		width: 116px;
		height: 50px;
		margin-bottom: 35px;
	}

	&__btn {
		border-radius: 25px;
		padding: 0.6rem 1rem;
		width: 80px;
		text-align: center;
		position: absolute;
	}

	&__content {
		border: 2px solid $pinkMiami;
		color: $pinkMiami;
	}

	&__background {
		background-color: black;
		color: black ;
	}
}
