@import '../MediaQueries.scss';

.about {

    &__section {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: end;
        max-width: 1200px;
        width: 80%;
        margin-top: 500px;

        @include mobile2 {
            margin-top: 400px;
        }

        @include tablet2 {
            margin-top: 380px;
        }

    }

    &__img-container {
        position: absolute;
        width: 350px;
        top: 100px;
        left: 0px;
        -webkit-mask-image: linear-gradient(to top, transparent 15%, black 100%);
        mask-image: linear-gradient(to top, transparent 15%, black 100%);

        @include mobile2 {
            width: 60%;
            max-width: 440px;
        }
        @include tablet2 {
            min-width: 440px;

        }

       @include large2 {
            width: 40%;
            max-width: 550px;
        }

        img {
            width: 100%;
            opacity: 80%;
            filter: grayscale(100%);
        }
    }

    &__h2 {
        display: flex;
        width: 80%;
        justify-content: end;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        line-height: .9;
        text-align: end;
        margin-bottom: 20px;

        @include tablet2 {
            font-size: 75px;
            width: 60%;
        }
    }

    &__body {

        display: flex;
        justify-content: end;
        width: 100%;
        margin-bottom: 30px;

        & p {
            @include tablet2 {
                text-align: end;
                width: 80%;
            }
            @include xlarge2 {
                width: 600px;
            }
        }

    }
}