@import '../MediaQueries.scss';

.about {

    &__section {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;

        //background-color: rgba(0, 255, 255, 0.499);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: end;
        max-width: 1200px;
        width: 80%;

        margin-top: 400px;

        //background-color: rgba(255, 0, 0, 0.404);
    }

    &__img-container {
        position: absolute;
        width: 70%;
        min-width: 350px;
        max-width: 615px;
        top: 100px;
        left: 0;
        -webkit-mask-image: linear-gradient(to top, transparent 15%, black 100%);
        mask-image: linear-gradient(to top, transparent 15%, black 100%);

        //background-color: rgba(0, 128, 0, 0.403);

        @include tablet2 {
            width: 70%;
        }

        @include large2 {

        }

        img {
            width: 100%;
            opacity: 80%;
            filter: grayscale(100%);
        }
    }

    &__h2 {
        display: flex;
        width: 40%;
        justify-content: end;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        line-height: .9;
        text-align: end;
        margin-bottom: 20px;

        @include tablet2 {
            font-size: 75px;
            width: 60%;
        }
    }

    &__body {


        display: flex;
        justify-content: end;
        width: 100%;

        //background-color: rgba(255, 255, 0, 0.492);

        @include large {
            justify-content: end;
            text-align: end;
        }

        & p {
            width: 40%;
            text-align: end;

            @include large {
                width: 80%;
                padding-bottom: 100px;
            }
            @include tablet {
                width: 100%;
                padding-bottom: 50px;
            }
        }
    }
}