@import '../MediaQueries.scss';
@import '../../color.scss';

.projects-auribbon {
  &__section {
    margin-top: 100px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    padding: 100px 0;
    box-sizing: border-box;
  }

  &__container {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 60px 0;
    border-bottom: 1px solid $pinkMiami;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 75px;
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width: 768px) {
      gap: 80px;
    }
  }
}
