
@import '../MediaQueries.scss';

.home {
    &__section {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__container {
        width: 80%;

        @include mobile {
            width: 55%;
            align-items: center;
        }
        @include tablet {
            width: auto;
        }
    }

    &__intro {
        font-size: 1rem;
    }

    &__h1  {
        font-size: 100px;
        margin: 0;
        line-height: 0.9;
        width: auto;
        font-family: 'Oswald', sans-serif;

        @include tablet {
            margin: 10px 0;
        }
        @include large {
            font-size: 130px;
        }
        @include xlarge {
            font-size: 140px;
        }
    }

    &__name-logo {
        height: 82px;

        @include mobile {
            height: 82px;
        }
        @include tablet {
            height: 85px;
        }
        @include large {
            height: 110px;
        }
        @include xlarge {
            height: 115px;
        }
    }

    &__h3 {
        margin: 10px;
        line-height: 1.2;

        font-size: 25px;
        font-weight: 500;

        -webkit-text-stroke: 1.5px #F5B6CD;
        color: transparent;

        @include mobile {
            font-size: 32px;
            -webkit-text-stroke: .8px #F5B6CD
        }
        @include tablet {
            font-size: 40px;
            font-weight: 700;
            -webkit-text-stroke: 1.1px #F5B6CD
        }
        @include large {
            font-size: 55px;
        }
        @include xlarge {
            font-size: 60px;
            font-weight: 500;
        }
    }
}