@import '../MediaQueries.scss';

.contact {

    &__section {

        width: 100vw;
        height: 100vh;
        font-size: 1.3rem;
        //background-color: #F5B6CD;
        color: rgb(43, 43, 43);
        display: flex;
        align-items: center;
        justify-content: center;
        //font-family: 'Oswald', sans-serif;
        background: rgb(245,182,205);
        //background: linear-gradient(0deg, rgba(245,182,205,1) 0%, rgb(43, 43, 43) 90%);
    
    }

    &__container {
        max-width: 733px;
        display: flex;
        flex-direction: column;

        @include xlarge {
            max-width: 624px;
        }

        @include tablet {
            max-width: 471px;
        }

       /*  @include mobile {
            width: 90%;
        } */
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 500;
        z-index: 10;

        @include mobile {
            font-size: 16px;
            font-weight: 500;
        }
    }


    &__h2 {

        font-size: 147px;
        font-family: 'Oswald', sans-serif;
        line-height: 1;
        padding-bottom: 1rem;
        margin: 0;
        position: relative;
        overflow: hidden;
        //height: 140px;
        //background-color: red;

        @include xlarge {
            font-size: 130px;
        }

        @include tablet {
            font-size: 100px;
        }

        @include mobile {
            font-size: 18vw;
            padding: 0;
            line-height: 1.4;
        }

        &--animation {
            position: relative;
            border-bottom: 5px solid rgb(43, 43, 43);
            width: fit-content;
            height: 100%;
            z-index: 0;
            padding-bottom: 1rem;

            @include mobile {
                padding-bottom: 0;

            }

        }
    }

    &__mail {

        &-container {

            display: flex;
            a {
                color: rgb(43, 43, 43);
                text-decoration: none;
            }

            @include tablet {
                //margin-bottom: 20px;
            }
        }

        &-title {
            margin-right: 30px;
            font-weight: 500;
            min-width:  54px;
        }

        &-link:hover {
            font-weight: 900;
        }
    }



    &__social {
        &-container {
            display: flex;
            text-align: end;
            width: auto;
        }
        &-title {
        margin-right: 30px;
        min-width:  54px;
        }
    }


    &__link-container {

        display: flex;
        justify-content: space-between;
        font-weight: 600;
        width: 100%;
        z-index: 1000;

        @include tablet {
            font-size: 1rem;
        }
        @include mobile {
            margin-top: 1rem;
        }
    }
}