@import '../MediaQueries.scss';

.contact {

    &__section {
        width: 100vw;
        height: 100vh;
        font-size: 1.3rem;
        color: rgb(43, 43, 43);
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(245,182,205);

    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        z-index: 10;

        @include mobile2 {
            font-size: 20px;
        }
    }


    &__titleContainer {
        font-family: 'Oswald', sans-serif;
        padding-bottom: 1rem;
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        line-height: 1.4;

        @include mobile2 {
            font-size: px;
        }
    }

    &__h2 {
        font-size: 85px;
        position: relative;
        border-bottom: 4px solid rgb(43, 43, 43);
        width: fit-content;
        margin: 0;

        @include mobile2 {
            padding-bottom: 1rem;
            font-size: 115px;
        }
        @include tablet2 {
            font-size: 150px;
            line-height: .9;
        }
        @include large2 {
            font-size: 180px;
        }
        @include xlarge2 {
            font-size: 200px;
            height: 180px;
        }
    }

    &__linkContainer {

        display: flex;
        justify-content: space-between;
        font-weight: 600;
        width: 100%;
        z-index: 1000;
        font-size: 16px;
        margin-top: 1rem;

        @include tablet2 {
            font-size: 20px;
        }
    }
}