@import '../MediaQueries.scss';
@import '../../color.scss';

.header{
    &__section {
        position: fixed;
        top: 25px;
        left: 0;
        width: 100vw;
        z-index: 100;
    }

    &__navbar {
        display: flex;
        justify-content: space-evenly;

        align-items: baseline;
        margin: auto;
        width: 90%;
        max-width: 1300px;
        padding: 0 20px;
        border: 1px solid $pinkMiami;
        border-radius: 15px;
        box-sizing: border-box;
        background-color: $blackLetter;

        @include mobile {
            justify-content: space-between;
        }
    }

    &__brandName {
        width: 20px;
        display: none;
        &:hover {
            cursor: none;
            font-weight: bolder;
            scale: 1.5;
        }
        @include mobile {
            display: block;
        }
    }

    &__menu {
        width: 300px;
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        cursor: none;
        margin: 5px;

        justify-content: space-around;

        //background-color: red;

        @include mobile {
            margin: 16px;
            justify-content: space-between;

        }
        li {
            display: flex;
        }
    }
}
