
.header{
    &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    }

    &__navbar {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: auto;
        z-index: 10;
        width: 100%;
        max-width: 1600px;
        background-color: pink;
    }

    &__sections {

        width: 400px;
        list-style: none;

        display: flex;
        justify-content: space-between;

        li {
            display: flex;
        }
    }
}
