@import '../MediaQueries.scss';

.header{

    &__section {
        position: fixed;
        top: 25px;
        left: 0;
        width: 100vw;
        z-index: 100;
    }

    &__navbar {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        max-width: 1300px;
        padding: 0 20px;
        border: 1px solid pink;
        border-radius: 15px;
        box-sizing: border-box;
        background-color: rgb(43, 43, 43);
    }

    &__brandName {
        width: 20px;

        &:hover {
            cursor: none;
            font-weight: bolder;
            scale: 1.5;

        }

    }

    &__menu {
        width: 300px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        cursor: none;
        margin: 5px;


        @include mobile2 {
            margin: 16px;
        }

        li {
            display: flex;
        }
    }
}
