.featured-project-card {
  @import '../../color.scss';
  
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__image-container {
    width: 100%;
    height: 300px; /* Altura fija para la imagen destacada */
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    padding: 2rem;
    text-align: left;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 1.5rem;
  }

  &__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  &__tech-tag {
    background-color: var(--secondary-color);
    color: $blackLetter;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  }
}