@import '../../../color.scss';

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  &__item {
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 20px;
    background-color: transparent;
    color: #F5B6CD;
    border: 1px solid rgba(245, 182, 205, 0.5);
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
  }
}
