@import '../../../../../color.scss';
@import '../../../../MediaQueries.scss';

.cardButton {
    &__link {
        padding: .28rem .7rem;
        border: 1px solid $pinkMiami;
        //padding: 4px 15px 6px 15px;
        //margin-left: 15px;
        font-size: .9rem;
        font-weight: 400;
        border-radius: 9.8px;
        display: flex;
        align-items: center;
        color: $pinkMiami;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        color: $pinkMiami;
        cursor: none;
        width: min-content;

        &:active {
            scale: 0.95;
        }

        @include tablet {
            //font-size: .6rem;

        }

        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
            border-color: rgba($pinkMiami, 0.45);
            color: rgba($pinkMiami, 0.6);
        }



        &--background {
            position: absolute;
            left: 0;
            background-color: #d48cbbad;
            height: 100%;
            width: 80%;
            //transform: none;
            //border-radius: 15px;
            border-color: #aa8da0ad;
            z-index: 10;
            cursor: none;
            right: 100px;

        }



    }


}