@import '../../MediaQueries.scss';

.projectItem{

    &__container {
        height: 4rem;
    }

    &__header {

        height: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;

        //font-size: 1.7rem;
        //font-weight: 1000;
        border-bottom: 1px solid #F5B6CD;

        /* &:before {
            content: &#8592
        } */


    /*     &:hover{
            // &#8592;
            //background-color: red
        }

        & span {
            margin-right: 1rem;
            width: 100px;
            content: 'jojo';
            color: black;
            background-color: red;
        } */

        @include mobile {
            font-size: 1rem;
            font-weight: 400;

        }
    }

    &__title {

        font-size: 1.2rem;
        font-weight: 500;

        @include mobile {
            line-height: 2;
            font-size: 1rem;
        }

        @include large {
            //font-size: 1rem;
        }
    }

    &__links {
            display: flex;
        }

    &__button {
        border: 2px solid pink;
        padding: 4px 15px 6px 15px;
        font-size: 13px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        color: #F5B6CD; 
    }






    &__body {
        display: none;
    }


}