@import '../../../color.scss';
@import '../../MediaQueries.scss';

.headerLink {
    &__link {
        overflow-x: hidden;
        color: $pinkMiami;
        text-decoration: none;

        // force color for all link states to avoid browser default purple for visited
        &:link,
        &:visited,
        &:focus {
            color: $pinkMiami;
        }

        @include hover {
            &:hover {
                scale: 1.1;
                font-weight: 600;
                cursor: none;
            }
        }

        &:active {
            scale: 0.95;
            color: $pinkMiami;
        }
    }

    &__background {
        background-color: $pinkMiami;
        height: 1.5px;
    }
}