@import '../../../color.scss';

.headerLink {
    &__link{
        overflow-x: hidden;

        &:hover {
            scale: 1.1;
            font-weight:600;
            cursor: none;
        }
    }

    &__background {
        background-color: $pinkMiami;
        height: 1.5px;
    }
}