@import './color.scss';
@import './components/MediaQueries.scss';

:root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: $pinkMiami;
    background-color: $blackLetter;
    cursor: crosshair;
    font-synthesis: none;

    overflow-x: hidden;
}

html{

	overflow-y: scroll;
	overflow-x: hidden;

    &::-webkit-scrollbar {
    display: none;
	}

	@include large {
		scroll-snap-type: y mandatory;
	}

}

body{
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1{
    font-size: 3.2em;
    line-height: 1.1;
}